.nav {
    height: auto;
    width: 980px;
    border-bottom: 5px solid gold;
    border-left: 5px solid gold;
    border-right: 5px solid gold;
    margin: 0 auto;
}
.nav ul {
    margin: 0 auto;
    padding: 0px;
    background-color: aquamarine;
    width: 100%;
}
.nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    margin-left: 85px;
}
.nav ul li a {
    text-decoration: none;
    padding: 10px 5px;
    border: none;
    font-size: 16px;
    margin: 0px;
    font-weight: bold;
}
.nav ul li:hover{
    background-color: blue;
    color: #fff;
    border: none;
    height: auto;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}
.nav ul li a:hover{
    color: #fff;
}