.card-body p{
    padding: 15px;
    line-height: 30px;
    margin-bottom: 0px;
}
.mb-5, .my-5 {
margin-bottom: 1rem !important;
}
button.btn.btn-info.mb-5.ml-1 {
    margin-left: 480px !important;
    margin-top: 20px!important;
}
.text-danger {
    color: #dc3545 !important;
    padding-left: 450px;
}