.app {
    background-color: blueviolet;
    color: #fff;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
}
.app h2{
    margin: 0px;
}
.app p{
    margin: 0px;
    padding: 15px;
}