.card.posts {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    height: 450px;
    width: 270px;
}
.card-body.posts p {
    padding: 0px;
    line-height: 30px;
    margin-bottom: 0px;
}
.posts.mb-5, .my-5 {
    margin-bottom: 1rem !important;
    margin: 65px 75px;
}